page-send-skycoin {
  background-color: $background-color-light;

  #-add-wallet-form {
    font-family: Skycoin;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.0769231em;

    color: #1e2227;
  }

  .toolbar-title {
    font-family: Skycoin;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.0769231em;

    color: #1e2227;
  }

  position: fixed;
  overflow: hidden;
  z-index: 9999;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);

  .pin-instructions {
    color: white;
    padding: 20px 20px 5px 20px;
    p {
      font-size: 14px;
      line-height: 20px;
      opacity: 0.5;
      margin: 0;
    }
  }

  .form-group {
    width: 90%;
    margin: 0px auto;
    ion-label {
      text-align: left;
      font-size: 14px;
      margin: 0;
      margin-bottom: -15px;
    }
    .text-input-md {
      margin: 0;
    }
    img {
      border-radius: 20px;
      float: right;
      position: relative;
      margin: -7px 0 0px 0px;
    }
  }

  ion-input,
  ion-select,
  ion-textarea {
    background: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 6px;
    color: rgba(23, 26, 29, 0.8);
    font-size: 11px;
    margin-top: 2px;

    line-height: 20px;
    padding: 10px 10px;
    //width: 99%;
  }

  ion-textarea {
    textarea {
      width: 100% !important;
    }
  }
  ion-input {
    padding-left: 0;
  }

  .select-send-sky {
    position: relative;
    ion-select {
      padding: 10px 10px !important;
      max-width: none;
    }
    .select-text {
      text-align: left;
    }
  }
}
