#pages-transactions {
  background-color: $background-color-normal;

  .-header {
    min-height: 40px;
    width: 100%;
  }

  ion-item-divider {
    min-height: 50px;
    padding-right: 32px;
  }

  ion-item.item .item-inner {
    font-size: 13px;
    min-height: 69px;
  }
}

