<ion-header no-border [ngClass]="{blurred: showConfirm}">
  <ion-navbar>
    <ion-title>Transactions</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="sky-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{blurred: showConfirm}">
  <div></div>
  <ion-list>
    <ion-item *ngFor="let transaction of transactions">
      <ion-row *ngIf="transaction.balance !== 0" (click)="showTransaction(transaction)">
        <ion-col col-2>
          <ion-icon *ngIf="transaction.balance < 0" ngClass="{'-pending': !transaction.confirmed}" name="send-trans"></ion-icon>
          <ion-icon *ngIf="transaction.balance > 0" ngClass="{'-pending': !transaction.confirmed}" name="receive-trans"></ion-icon>
        </ion-col>
        <ion-col col-7>
          <ion-row>
            <ion-col>

              <ng-container *ngIf="transaction.balance < 0 && transaction.confirmed">
                <span class="trans-title">Sent SKY</span>
              </ng-container>

              <ng-container *ngIf="transaction.balance < 0 && transaction.confirmed">
                <span class="trans-subtitle">{{transaction.timestamp * 1000|date:'short'}}</span>
              </ng-container>

              <ng-container *ngIf="transaction.balance < 0 && !transaction.confirmed">
                <span class="trans-title">Sending SKY</span>
              </ng-container>

              <ng-container *ngIf="transaction.balance < 0 && !transaction.confirmed">
                <span class="trans-subtitle">Pending</span>
              </ng-container>

              <ng-container *ngIf="transaction.balance > 0 && !transaction.confirmed">
                <span class="trans-title">Received SKY</span>
              </ng-container>

              <ng-container *ngIf="transaction.balance > 0 && !transaction.confirmed">
                <span class="trans-subtitle">{{transaction.timestamp * 1000|date:'short'}}</span>
              </ng-container>

              <ng-container *ngIf="transaction.balance > 0 && transaction.confirmed">
                <span class="trans-title">Sent SKY</span>
              </ng-container>

              <ng-container *ngIf="transaction.balance > 0 && transaction.confirmed">
                <span class="trans-subtitle pending">Pending</span>
              </ng-container>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon name="sky-qr"></ion-icon>
              <span class="trans-address">{{transaction.txid|address}}</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              <span class="trans-title">{{transaction.balance}} SKY</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span *ngIf="price" class="trans-address">{{transaction.balance * price|currency:'USD':true:'1.2-2'}}</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>


<modal [header]="'Send SKY'" *ngIf="showConfirm" (close)="closeModal($event)">

  <ion-grid>
    <ion-row>
      <ion-col class="center-icon">
        <ion-icon *ngIf="transaction.balance < 0" ngClass="{'-pending': !transaction.confirmed}" name="send-trans"></ion-icon>
        <ion-icon *ngIf="transaction.balance > 0" ngClass="{'-pending': !transaction.confirmed}" name="receive-trans"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>{{transaction.balance|number}} SKY</h4>
        <p *ngIf="price">{{transaction.balance * price|currency:'USD':true:'1.2-2'}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <span class="-modal-title">Date</span>
      <span class="-modal-subtitle"> {{transaction.timestamp * 1000|date:'short'}}</span>
    </ion-item>

    <ion-item>
      <span class="-modal-title"> Status</span>
      <span class="-modal-subtitle"> {{transaction.confirmed ? 'Complete' : 'Pending'}}</span>
      <ion-icon *ngIf="transaction.confirmed" name="checkmark"></ion-icon>

    </ion-item>

    <ion-item>
      <span class="-modal-title"> From</span>
      <span class="-modal-subtitle -middle">
        <span>Personal Wallet</span>
        <br/>
        <span class="-address" *ngFor="let input of transaction.inputs">{{input|address}}</span>
      </span>
    </ion-item>

    <ion-item>
      <span class="-modal-title"> To</span>
      <span class="-modal-subtitle -middle" *ngFor="let output of transaction.outputs">{{output.dst|address}}</span>
    </ion-item>
  </ion-list>



</modal>
