page-pincode {
  $secondary-color: #ffc125;

  ion-col {
    text-align: center;
    font-size: 30px;
    height: 80px;

    & > span {
      height: 14px;
      width: 14px;
      border: 2px solid #000;
      background-color: #000;
      border-radius: 100%;
      position: relative;
      display: inline-block;
      text-align: center;
      margin: 0 auto;
    }

    &.active span {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
    &.right span {
      background-color: #272a2f;
      border-color: #272a2f;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }

    & > button {
      padding: 5px 0 0 0 !important;
      width: 50px !important;
      height: 50px !important;
      font-size: 30px !important;
      line-height: 30px !important;
      box-shadow: none !important;
      background-color: transparent !important;
      .ion-ios-backspace,
      .ion-md-backspace {
        & {
          padding: 0px;
        }
      }
      &.backspace span {
        padding: 0 0 5px 0px;
      }
      &:active {
        background-color: #1E2227 !important;
        opacity: 0.5;
        .ion-ios-backspace,
        .ion-md-backspace {
          & {
            padding: 0px;
            content: url(../assets/icon/backspace-white.svg);
          }
        }
      }
    }
  }

  ion-content#pincode {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .slide-zoom {
    height: 100%;
  }

  #restartbtn {
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 20px;
  }

  .table {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    text-align: center;
  }

  #logo {
    img {
      max-width: 40%;
    }
  }

  .cell-header {
    height: 95px;
  }

  .pin-instructions {
    padding: 0 20px;
    color: white;
    p {
      font-size: 14px;
      line-height: 20px;
      opacity: 0.5;
      margin: 0;
    }
  }

  ion-content#pincode {
    position: fixed;
    overflow: hidden;
    z-index: 9999;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
  }

  #numbers {
    max-width: 300px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: block;
    transition: all 1s ease-out;
    opacity: 1;
  }

  #numbers.hide {
    opacity: 0.3;
  }

  button {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    border-radius: 100%;
    opacity: 1;
    outline: 0; //border: 1px solid #fff;
  }

  button:active {
    background-color: rgba(0, 0, 0, 0.6);
    outline: 0;
  }

  #fields {
    max-width: 200px;
    padding: 0 20px;
    margin-top: 20px;
    position: relative;
    display: block;
  }

  ion-row {
    list-style: none;
    margin-left: -20px;
  }

  .grid-col {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    min-height: 1px;
    padding-left: 20px;
    vertical-align: top;
  }

  .miss {
    animation: miss 0.8s ease-out 1;
  }

  @keyframes miss {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-25px, 0);
    }
    20% {
      transform: translate(25px, 0);
    }
    30% {
      transform: translate(-20px, 0);
    }
    40% {
      transform: translate(20px, 0);
    }
    50% {
      transform: translate(-10px, 0);
    }
    60% {
      transform: translate(10px, 0);
    }
    70% {
      transform: translate(-5px, 0);
    }
    80% {
      transform: translate(5px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }


}


