tabs {
  background-color: $background-color-light;
  bottom: 0;
  height: 66px;
  left: 0;
  padding: 4px 25px;
  position: fixed;
  right: 0;
  width: 100%;

  >div {
    float: left;
    text-align: center;
    width: 33.33%;

    .-transparent {
      background-color: $background-color-light;
      border-radius: 25px;
      box-shadow: none;
      height: 50px;
      width: 80px;
    }

    .-main {
      background: $gradient-blue-dark; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, $gradient-blue-dark, $gradient-blue-light); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, $gradient-blue-dark, $gradient-blue-light); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, $gradient-blue-dark, $gradient-blue-light); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, $gradient-blue-dark, $gradient-blue-light); /* Standard syntax */
      border-radius: 25px;
      height: 50px;
      width: 100px;

      img {
        transform: rotate(180deg);
      }
    }

    button img {
      max-height: 28px;
      max-width: 28px;
    }
  }
}
