modal {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  margin: 10%;
  width: 80%;
  z-index: 99999;

  .-modal {
    text-align: center;
    background-color: #fbfbfb;
    border-radius: 4px;
    position: absolute;
    top: 30%;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);

    .-header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #eee;
      padding: 10px 0;

      span {
        font-family: Skycoin;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.0769231em;
        color: #ff004e;
      }
      button {
        margin: 0px 10px 0px -20px;
        padding: 0;
        width: 32px;
        height: 32px;
        float: right;
        ion-icon {
          color: #1e2227;
          opacity: 0.4;
        }
      }
    }

    .-body {
      padding: 20px;
      p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 12px;

        color: #1e2227;
        mix-blend-mode: normal;
        opacity: 0.8;
        border-radius: 6px;
        padding: 0;
        margin: 0;
      }

      .-checkbox {
        text-align: center;
        width: 100%;
        margin: 10px 0 25px 0;

        .-checkbox-container {
          width: fit-content;
          margin: 0 auto;
        }

        ion-checkbox {
          margin: 10px 10px 0 0;
          float: left;
        }

        ion-label {
          font-family: Skycoin;
          line-height: normal;
          font-size: 14px;
          color: #1e2227;
          float: left;
        }
      }

      .-continue {
        &.disabled {
          background: #f0f0f0 !important;
          color: rgba(30, 34, 39, 0.2);
        }
        width: auto !important;
        text-transform: capitalize;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        color: #fbfbfb;
        background: linear-gradient(
          to bottom right,
          #0072ff,
          #00c3ff
        ) !important;
        font-family: Skycoin;
        line-height: normal;
        font-size: 15px;
        text-align: center;
        color: #fbfbfb;
        height: 40px;
        box-shadow: none;
        span {
          margin: -0px 0 0px 0px;
        }
      }
    }

    .-footer {
      height: 40px;
      background: #f7f7f7;
      mix-blend-mode: normal;
      opacity: 0.43;
      border-top: 1px solid #eee;
      padding: 10px 0;
      span {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;

        color: #1e2227;
      }
    }
  }
}
