// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1 {
  color: white;
  text-align: center;
  line-height: 150px;
  font-size: 40px;
  margin: 0;
}

.split-background {
  background-image: linear-gradient(bottom, #dddddd 65%, #4990e2 65%);
  background-image: -o-linear-gradient(bottom, #dddddd 65%, #4990e2 65%);
  background-image: -moz-linear-gradient(bottom, #dddddd 65%, #4990e2 65%);
  background-image: -webkit-linear-gradient(bottom, #dddddd 65%, #4990e2 65%);
  background-image: -ms-linear-gradient(bottom, #dddddd 65%, #4990e2 65%);
}

.material-paper {
  margin-top: 20%;
  min-height: 30%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.inline-button {
  display: inline-block;
}
