<ion-header no-border>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
        </ion-col>
        <ion-col col-4>
          <ion-title>{{ title }}</ion-title>
        </ion-col>
        <ion-col col-4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <h1>{{ coins }}
            <span>sky</span>
          </h1>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="sky-money">{{ getBalance() }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="sky-hours">{{ hours }} SKY Hours</span>
        </ion-col>
      </ion-row>
      <ion-row></ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>
