<ion-header no-border>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-icon *ngIf="backAction" name="sky-back" style="float: left;"></ion-icon>
        </ion-col>
        <ion-col col-4>
          <ion-title>{{title}}</ion-title>
        </ion-col>
        <ion-col col-4>
          <ion-icon name="sky-refresh" style="float: right;"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <h1>{{sky}}
            <span>sky</span>
          </h1>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="sky-money">${{money}} (${{secMoney}})</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <span class="sky-hours">{{hours}} SKY Hours</span>
        </ion-col>
      </ion-row>
      <ion-row></ion-row>
      <ion-row></ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>
