page-ob-create-wallet {

  position: fixed;
  overflow: hidden;
  z-index: 9999;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);

  .form-group {
    width: 90%;
    margin: 15px auto;
    ion-label {
      color: #1E2227;
      font-family: Skycoin;
      line-height: normal;
      font-size: 14px;
    }
    .text-input-md {
      margin: 0;
    }
    img {
      border-radius: 20px;
      float: right;
      position: relative;
      margin: -7px 0 0px 0px;
    }
  }

  ion-input,
  ion-textarea {
    background-color: #fff;
    border-radius: 5px;
    color: rgba(23, 26, 29, 0.8);
    font-size: 14px;
    margin-top: 2px;

    line-height: 20px;
    padding: 10px 10px;
  }

  ion-textarea {
    textarea {
      width: 100% !important;
    }
  }
  ion-input {
    padding-left: 0;
  }

  .buttons {
    button {
      padding: 20px 60px;
      border-radius: 20px;
      box-shadow: none;
      font-size: 14px;
      text-transform: capitalize;
      background-color: #1e2227;
      margin-top: 30px;
      text-align: center;
    }
  }
}
