<modal [header]="'Safeguard your seed!'" *ngIf="showConfirm" (close)="closeModal($event)" (ok)="createWallet($event)">
  <p>
    We want to make sure that you wrote down your seed and stored it in a safe place. If you forget your seed, you
    <strong>WILL NOT</strong> be able to recover your Skycoin wallet!
  </p>
  <div class="-checkbox">
    <div class="-checkbox-container">
      <ion-item>
        <ion-label>It’s safe, I swear.</ion-label>
        <ion-checkbox [(ngModel)]="showConfirmCheck"></ion-checkbox>
      </ion-item>
    </div>
  </div>
  <button [ngClass]="{ disabled: !showConfirmCheck }" [disabled]="!showConfirmCheck" ion-button color="light" round class="-continue"
    (click)="createWallet()">Continue
  </button>
</modal>

<ion-content class="sky-container" [ngClass]="{ blurred: showConfirm }">
  <div class="cell-header">
    <div class="pin-instructions">
      <h2>Create a wallet</h2>
      <p>If you don’t yet have a wallet, generate a seed and we’ll create one for you. If you already have a wallet, enter the
        seed below and load it.</p>
    </div>
  </div>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <div [formGroup]="form">
          <div class="form-group">
            <ion-label>Give it a name</ion-label>
            <ion-input formControlName="label" type="text"></ion-input>
          </div>
          <div class="form-group">
            <ion-label>Seed</ion-label>
            <ion-textarea formControlName="seed" rows="2"></ion-textarea>
          </div>
          <div class="form-group">
            <ion-label>Confirm seed</ion-label>
            <ion-textarea formControlName="confirmSeed" rows="2"></ion-textarea>
            <img *ngIf="!form.controls.confirmSeed.errors?.MatchSeed" src="assets/icon/Valid.svg" />
          </div>
          <div class="buttons">
            <button ion-button round [disabled]="!form.valid" (click)="confirmCreateWallet()">Create</button>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
