<ion-header no-border>
  <ion-navbar transparent mode="ios">
    <ion-title mode="ios">My Wallet</ion-title>
  </ion-navbar>
</ion-header>
<modal (close)="closeModal()" [header]="'View QR Code'" *ngIf="address" [footer]="'B9UG4KcdGdNRScAt5GxxJvX4J89S5vkRcY'">
  <qr-code [address]="address"></qr-code>
</modal>
<ion-content id="pages-wallet-detail" [ngClass]="{ blurred: address }">
  <div class="-header primary-header-background">
    <h1>{{ wallet.balance }}
      <span>sky</span>
    </h1>
  </div>
  <ion-list>
    <ion-item-divider>
      <div class="column-10">ID</div>
      <div class="column-40">Address</div>
      <div class="column-25">Hours</div>
      <div class="column-25">Balance</div>
    </ion-item-divider>
    <button ion-item mode="ios" *ngFor="let address of addresses; let i = index" (click)="open(address)">
      <div class="column-10">{{ i + 1 }}</div>
      <div class="column-40">{{ address.address | address }}</div>
      <div class="column-25">{{ address.hours }}</div>
      <div class="column-25">{{ address.balance }}</div>
    </button>

    <div class="-action-buttons">
      <button ion-button round (click)="addAddress()">
        <img src="assets/img/plus-gold.png"> Add Address
      </button>
    </div>
  </ion-list>

  <tabs></tabs>
</ion-content>
