<ion-header>
  <ion-navbar>
    <ion-title>My wallet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="sky-header-dark">
    <h1> {{ wallet.balance | sky }} sky</h1>
  </div>
  <ion-list>
    <ion-item-divider color="light">
      <div class="column-20">ID</div>
      <div class="column-60">Address</div>
      <div class="column-20">Balance</div>
    </ion-item-divider>
    <ion-item *ngFor="let address of (wallet.entries||[]); let i = index" (click)="open(address)">
      <div class="column-20">{{ i + 1 }}</div>
      <div class="column-60 address-column">{{ address.address | address }}</div>
      <div class="column-20">{{ address.balance | sky }}</div>
    </ion-item>
    <ion-item (click)="createAddress()"><i>Click to add an address</i></ion-item>
  </ion-list>

  <div class="overlay" id="overlay" *ngIf="address">
    <div class="modal-content">
      <span class="button-close" (click)="closeModal()"></span>
      <qr-code [address]="address"></qr-code>
      <h5 (click)="copy(this.address)">{{ address.address }} <ion-icon name="copy"></ion-icon></h5>
    </div>
  </div>

</ion-content>
