#pages-wallet-detail {
  background-color: $background-color-normal;
  h1 span {
    font-size: 20px;
  }

  ion-item-divider {
    min-height: 70px;
    padding-right: 32px;
  }

  button.item .item-inner {
    font-size: 13px;
    min-height: 70px;
  }

  .-action-buttons {
    padding: 40px 0 20px;
    margin-bottom: 66px;
    text-align: center;

    button {
      background-color: $background-color-normal;
      box-shadow: none;
      color: $text-color-normal;
      font-size: 13px;
      margin: 0 5px;
      min-width: 140px;

      img {
        height: 28px;
        margin-left: -4px;
        width: 28px;
      }
    }
  }
}

.is-hidden {
  display: none;
}

.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAowAAAKMB8MeazgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB5SURBVDiNrZPRCcAwCEQfnUiySAZuF8kSWeH6Yz8KrQZMQAicJ+epAB0YwAmYJKIADLic0/GPPCbQAnLznCd/4NWUFfkgy1VjH8CryA95ApYltAiTRCZxpuoW+gz9WXE6NPeg+ra1UDIxGlWEObe4SGxY5fIxlc75Bkt9V4JS7KWJAAAAAElFTkSuQmCC59ef34356faa7edebc7ed5432ddb673d');
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-content {
  padding: 40px 40px;
  width: 90%;
  max-width: 250px;
  position: relative;
  min-height: 300px;
  margin: 100px auto 0;
  background: #fff;
}
