$screen-padding: 32px;

#pages-wallets {
  background-color: $background-color-normal;

  .-header {
    min-height: 174px;
    padding: 100px 0 0 0;
    width: 100%;
  }
  ion-list {
    height: 100%;
  }

  .list-md {
    margin: 0;
  }

  h1 span {
    font-size: 20px;
  }

  ion-item-divider {
    height: 50px;
  }

  ion-item-sliding .item .item-inner {
    font-size: 13px;
    min-height: 69px;
  }
  ion-item-sliding {
    button {
      text-transform: capitalize !important;
    }

    ion-col {
      font-family: Skycoin;
      line-height: normal;
      font-size: 13px;
      color: #1E2227;
    }
  }

  .-actions-buttons {
    margin: 0 auto;
    width: 250px;
    button {
      width: auto;
      text-transform: capitalize;
      border: none;
      box-shadow: none;
      padding: 0;
    }
  }

  .-header-table {
    font-family: Skycoin;
    line-height: normal;
    font-size: 12px;

    color: #1E2227;
    mix-blend-mode: normal;
    opacity: 0.25;
  }
  .item-md,.item-divider-md{
    padding: 0;
  }

}


