$screen-padding: 32px;

#pages-wallets {
  background-color: $background-color-normal;

  .-header {
    min-height: 250px;
    padding: 100px 0 0 0;
    width: 100%;
  }

  h1 span {
    font-size: 20px;
  }

  ion-item-divider {
    height: 50px;
  }

  ion-item-sliding .item .item-inner {
    font-size: 13px;
    min-height: 69px;
  }
  ion-item-sliding {
    .item-md {
      padding: 0 !important;
      ion-label {
        padding-left: 16px !important;
      }
    }
  }

  button {
    width: 100%;
    text-transform: capitalize;
    border: none;
    box-shadow: none;
  }
}


