<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wallets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button secondary (click)="createWallet()">New Wallet</button>

  <ion-card *ngFor="let wallet of wallets">
    <h2>{{ wallet.name }}</h2>
    <button ion-button secondary (click)="createAddress(wallet)">New Address</button>
    <ion-list>
      <ion-item *ngFor="let address of wallet.addresses">{{ address | json }}</ion-item>
    </ion-list>
  </ion-card>
</ion-content>
