wallets {
  margin-top: 174px;
  h1 span {
    font-size: 20px;
  }

  ion-item-divider {
    height: 50px;
  }

  ion-item-sliding .item .item-inner {
    font-size: 13px;
    min-height: 69px;
  }
  ion-item-sliding {
    .item-md {
      padding: 0 !important;
      ion-label {
        padding-left: 16px !important;
      }
    }
  }

  button {
    width: 100%;
    text-transform: capitalize;
    border: none;
    box-shadow: none;
  }
}


